h1{
	text-align: center;
  font-size: 50px;
  color: blue;
  font-family:幼圆;
  font-weight: bold;
}
ul, li, ol {
    background-image: url(background.jpg);
    background-size: 10000px;
    list-style: none;
    padding: 100px;
    margin: 100px;
    font-size: 12px;
    font-family:幼圆;
}
body{
  background-image: url(background.jpg);
    background-size: 10000px;
    list-style: none;
    font-size: 12px;
    font-family:幼圆;
}
img {
    border: 0px;
}
.picList {
    width: 100%;
    float: left;
}
.picList .col {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 10px 0 0 10px;
}
.picList .col img, .col a {
    position: absolute;
    top: 0px;
    left: 0px;
}
.picList .col img {
    width: 100%;
}
.picList .col a {
    display: block;
    width: 280px;
    height: 180px;
    /*设置初始值*/
    top: 160px;
    
    
    background:#000;
    color: yellow;
    font-style: normal;
    line-height: 25px;
    padding: 10px;
    opacity: 0.8;
    text-decoration: none;
}